body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 1150PX;
    margin: auto;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #000;
    position: relative;
}

.header .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.header .navbar ul {
    display: flex;
    gap: 30px;
    position: absolute;
    left: -40px;
}

.header .navbar li {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.header .navbar li img {
    width: 140px;
    height: 28px;
}

.content {
    width: 100%;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header .navbar li:hover {
    color: red;
}

.hot-news .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hot-news-item {
    width: calc(100%/3);
    margin-right: 36px;
}

.hot-news-item .card {
    display: flex;
    flex-direction: column;
}

.hot-news-item .card .title span {
    font-size: 18px;
    font-weight: bold;
    color: #111;
    display: flex;
    text-align: justify;
}

.hot-news-item .card .title span:hover {
    color: #666;
}

.new-news {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.new-news-left {
    width: calc(2 * 100% / 3);
}

.new-news-center {
    margin-bottom: 15px;
}

.new-news-center .card .title span {
    font-weight: bold;
    font-size: 17px;
}

.new-news-bottom {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.new-news-bottom .card {
    width: 50%;
}

.new-news-bottom .card .title span {
    font-weight: bold;
    font-size: 17px;
}

.new-news-right {
    width: calc(100% / 3);
}

.new-news-right-top {
    margin-bottom: 18px;
}

.new-news-right-top .card .title span {
    font-weight: bold;
    font-size: 17px;
}

.new-news-right-bottom .card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 18px;
    border-top: 1px dashed #d1d1d1;
    margin-bottom: 18px;
}


footer {
    width: 100%;
    height: 100px;
    background-color: #000;
    padding-top: 35px;
}

footer .card .logo {
    border-bottom: solid 1px #333;
}

footer .card .navbar {
    color: #fff;
    position: relative;
}

footer .card .navbar ul {
    left: -40px;
    list-style: none;
    position: absolute;
}

footer .card .navbar ul li {
    float: left;
    margin-right: 40px;
}

footer .card .navbar ul li:hover {
    color: red;
}