body {
    padding: 0;
    margin: 0 auto;
}

.container {
    background-color: #ccc;
    width: 1150PX;
    margin: auto;
    /* height: 600px; */
}

.header {
    width: 100%;
    height: 100px;
    background-color: #de9c79;
}

.content {
    width: 100%;
    height: 1000px;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #2885e5;
}